<div class="bigContainer">
  <div class="image"></div>
  <div class="section-float">
    <section style="background-color: #8dffc9 ; text-align: center; padding: 100px 20px;">
      <h1><b>Bienvenidos!</b></h1>
      <hr style="width: 10%;">
      <br>
      <h3>En el menú izquierdo, encuentra el resultado de la realización de la prueba técnica para <b>Finaktiva</b>.</h3>
      <br><br>
      <img src="../../../assets/images/elkyn-design.png"
       style="max-height: 200px;
              max-width: 90%;
              margin:10px auto;">
      <h4>By: <b>Elkyn Enriquez.</b></h4>
    </section>
  </div>
</div>
