<form [formGroup]="FormGroupSend" autocomplete="off" (ngSubmit)="sendForm()">
  <div >
    <div formGroupName="FormCreate" style="width: auto">
      <!-- Form group -->
      <div class="row">
        <div class="col-xs-12">
          <h2>Registro de <b>eventos</b></h2>
          <hr/>
        </div>
      </div>
      <div class="row center-xs middle-xs">
        <div class="col-xs-12">
          <p>
            Por favor completa los siguientes campos
          </p>
        </div>
      </div>
      <div class="row center-xs">
        <!-- Titulo -->
        <div class="col-xs-10 col-md-8">
          <h4>
            <b>
              Como llamaremos el evento:
            </b>
          </h4>
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Título del evento</mat-label>
            <input
              appUppercase
              type="text"
              matInput
              formControlName="Title"
              placeholder="Título del evento"
              required
            />
          </mat-form-field>
          <mat-error
            *ngIf="
            FormCreate.controls['Title']
                .touched &&
                FormCreate.controls
                ['Title']
                .hasError('required')
            "
          >
            Campo <strong>obligatorio</strong>
          </mat-error>
        </div>
        <!-- Description -->
        <div class="col-xs-10 col-md-8">
          <h4>
            <b>
              Descripción del evento:
            </b>
          </h4>
          <mat-form-field class="width-inputs" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              formControlName="Description"
              placeholder="Campo para descripción del evento">
            </textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12 center-align">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          style="padding: 7px 20px; margin: 10px;"
          [disabled]="!btnSubmit">
          <b>Registrar</b>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
