<div
  class="container"
  style="
    padding: 50px;
    ">
  <div class="row center-xs">
    <div class="col-xs-10">
      <h1
        style="font-size: xx-large;">
        <b>
          Gestión de Eventos
        </b>
      </h1>
      <p style="font-size: large;">Prueba de conocimientos, presentada para desarrollador de software de Finaktiva</p>
    </div>
  </div>
</div>
<div
  style="
    height: 3px;
    opacity: 0.5;
    background-color: #8dffc9;
    ">
</div>
<div class="container"
style="
    padding: 30px;
    background-color: #e5fff266;
    ">
  <div class="row center-xs middle-xs">
    <div class="col-xs-12 col-md-6">
      <h2>
        Sobre la prueba
      </h2>
      <div
        style="
          text-align: justify;
        ">
        <p>
          El objetivo de esta prueba técnica es implementar una aplicación de gestión de eventos “Logs”.
        </p>
        <p>
          La aplicación permite a los usuarios realizar las siguientes acciones:
        </p>
        <ol>
          <li>Registrar un evento en la base de datos mediante un <b>endpoint con ApiGateway</b>.</li>
          <li>Un formulario de registro de eventos manuales.</li>
          <li>Consultar la información de los eventos registrados en la base de datos</li>
          <li>El formulario de consulta debe tener filtros por tipo de evento “Api o Formulario de eventos manuales” y rango de fechas</li>
        </ol>
        <br />
      </div>
    </div>
    <div class="col-xs-7 col-md-4">
      <img
        width="80%"
        style="
          max-width: 600px;
          border-radius: 15px;"
        src="https://www.finaktiva.com/assets/imagesHome/man.svg"
        aria-label="Imagen jovén sonriente"
      />
    </div>
  </div>
</div>
<div
  style="
    color: white;
    padding: 30px;
    background-color: #121212;
    ">
  <div class="row center-xs">
    <div class="col-xs-4 offset-xs-4">
      <img style="max-width: 200px; transform: translateY(-40%);" src="https://www.finaktiva.com/assets/imagesHome/circle.png">
      <h2 style="font-size: x-large;">Empieza a realizar acciones !!</h2>
    </div>
  </div>
  <!-- iconos circulares -->
  <div class="row center-xs" style="margin: 30px;">
    <div class="col-xs-6 col-md-3">
      <button
        mat-fab
        style="
          height: 70px;
          width: 70px;
        "
        matTooltip="Registrar evento"
        matTooltipPosition="above"
        arial-label="Registrar evento"
        >
        <!-- (click)="createCriteriaPointsEmployee()" -->
        <mat-icon>app_registration</mat-icon>
      </button>
      <p style="margin-top: 10px;">Registrar evento</p>
    </div>
    <div class="col-xs-6 col-md-3">
      <button
        style="background-color: #6fc9ef;"
        mat-fab
        style="
          height: 70px;
          width: 70px;
        "
        matTooltip="Lista de eventos"
        matTooltipPosition="above"
        arial-label="Lista de eventos"
        routerLink="/events/list"
        >
        <mat-icon>view_list</mat-icon>
      </button>
      <p style="margin-top: 10px;">Lista de eventos</p>
    </div>
    <div class="col-xs-6 col-md-3">
      <button
        class="space light-blue-lilisoft"
        mat-fab
        style="
          height: 70px;
          width: 70px;
        "
        matTooltip="Ayuda"
        matTooltipPosition="above"
        arial-label="Ayuda"
        routerLink="/system/help"
        >
        <mat-icon>help</mat-icon>
      </button>
      <p style="margin-top: 10px;">Necesitas ayuda?</p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12">
      <h3 style="font-size: x-large;">
        <b>By: Elkyn Enriquez</b>
      </h3>
      <br/>
      <p style="color: #ffffff66;">
        Si tiene dudas o inquietudes, por favor contacte a:
        efenriquezm@gmail.com
        <br>
        Cra 16 No. 33-59 B. San Andres
        Pasto, Nariño (Colombia)
      </p>
    </div>
  </div>
</div>
