<div class="container">
  <div class="row center-xs">
    <div class="col-xs">
      <h3 class="blue">Conteos rápidos</h3>
    </div>
  </div>
  <mat-accordion>
    <!-- Conteos por tipo : Inicio -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="center-xs">
          <h4 style="margin: 16px;" class="blue">Eventos por <b>tipo</b></h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Iconos circulares para filtrar -->
      <div class="row center-xs">
        <ng-container *ngFor="let count of countsEventType; let i = index">
          <div *ngIf="count.amount" class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding:10px;">
            <button
              (click)="filterByButton('Type',i)"
              [ngClass]="count.class"
              class="counter" style="border: 3px solid; padding: 10px; cursor: pointer;">
              <br>
              <span class="salient" [id]="count.name"> {{ count.amount }} </span>
              <span class="description"> Eventos </span>
              <b>{{ count.pluralDisplayName }}</b>
            </button>
          </div>
        </ng-container>
      </div>
    </mat-expansion-panel>
    <!-- Conteos por tipo : Fin -->
  </mat-accordion>
  <div class="row center-xs">
    <div class="col-xs">
      Total items filtrados: {{ length }}
    </div>
  </div>

  <!-- Inicio de card para filtros y tabla -->
  <div class="row">
    <mat-card class="card-container col-xs-12">
      <mat-card-title></mat-card-title>
      <form [formGroup]="FormGroupFilter" (ngSubmit)="applyFilter()">
        <div class="row center-xs middle-xs" formArrayName="FormArrayFilters">
          <div class="col-xs-12 col-md-10" style="border-right: solid 1px #e0e0e0">
            <div *ngFor="let item of FormArrayFilters.controls; let i = index" [formGroupName]="i">
              <div class="row middle-xs center-xs" style="margin: 0 !important; padding: 0">
                <!-- Filtrar por  -->
                <div class="col-xs-12 col-md-5">
                  <mat-form-field class="width-inputs" appearance="fill">
                    <mat-label>Filtrar por:</mat-label>
                    <select matNativeControl #filterBy formControlName="FormControlFilterBy" required
                      (change)="resetFilter(false, i)">
                      <option selected value="">Seleccione una opción</option>
                      <option *ngFor="let option of filterOptions" [value]="option.value">
                        {{ option.label }}
                      </option>
                    </select>
                  </mat-form-field>
                  <mat-error *ngIf="
                      FormArrayFilters.controls[i].get('FormControlFilterBy')
                        .touched &&
                      FormArrayFilters.controls[i]
                        .get('FormControlFilterBy')
                        .hasError('required')
                    ">
                    Seleccione una opción
                  </mat-error>
                </div>
                <!-- Filtros  -->
                <div class="col-xs-12 col-md-5">
                  <!-- Filtro por cadena de texto -->
                  <div class="row" [class.cdk-visually-hidden]="
                      !(
                        selectedFilter(
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value
                        ) &&
                        selectedFilter(
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value
                        ).type == 'text'
                      )
                    ">
                    <mat-form-field class="width-inputs" appearance="fill">
                      <mat-label>Filtro: </mat-label>
                      <input type="text" appUppercase matInput formControlName="FormControlFilterString"
                        placeholder="Ej. nombre" [required]="
                          selectedFilter(
                            FormArrayFilters.controls[i].get(
                              'FormControlFilterBy'
                            ).value
                          ) &&
                          selectedFilter(
                            FormArrayFilters.controls[i].get(
                              'FormControlFilterBy'
                            ).value
                          ).type == 'text'
                        " [disabled]="
                          !(
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).type == 'text'
                          )
                        " />
                    </mat-form-field>
                    <mat-error *ngIf="
                        FormArrayFilters.controls[i].get(
                          'FormControlFilterString'
                        ).touched &&
                        FormArrayFilters.controls[i]
                          .get('FormControlFilterString')
                          .hasError('required')
                      ">
                      ¿Cual es el criterio de busqueda?
                    </mat-error>
                  </div>
                  <!-- Filtro por select -->
                  <div class="row" [class.cdk-visually-hidden]="
                      !(
                        selectedFilter(
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value
                        ) &&
                        selectedFilter(
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value
                        ).type == 'select'
                      )
                    ">
                    <mat-form-field class="width-inputs" appearance="fill">
                      <mat-label>Filtro: </mat-label>
                      <select matNativeControl #filter formControlName="FormControlFilterSelect" [required]="
                          selectedFilter(
                            FormArrayFilters.controls[i].get(
                              'FormControlFilterBy'
                            ).value
                          ) &&
                          selectedFilter(
                            FormArrayFilters.controls[i].get(
                              'FormControlFilterBy'
                            ).value
                          ).type == 'select'
                        " [disabled]="
                          !(
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).type == 'select'
                          )
                        ">
                        <option selected value="">Seleccione una opción</option>
                        <!-- Opciones desde FilterOptions -->
                        <ng-container *ngIf="
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).options
                          ">
                          <ng-container *ngFor="
                              let optionSelect of selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ).options;
                              index as i
                            ">
                            <option [value]="optionSelect.value">
                              {{ optionSelect.viewValue }}
                            </option>
                          </ng-container>
                        </ng-container>
                      </select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        FormArrayFilters.controls[i].get(
                          'FormControlFilterSelect'
                        ).touched &&
                        (FormArrayFilters.controls[i]
                          .get('FormControlFilterSelect')
                          .hasError('required') ||
                          FormArrayFilters.controls[i].get(
                            'FormControlFilterSelect'
                          ).value === null)
                      ">
                      Seleccione una opción
                    </mat-error>
                  </div>
                  <!-- Filtro desde hasta por numero o fechas -->
                  <div class="row" [class.cdk-visually-hidden]="
                      !(
                        selectedFilter(
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value
                        ) &&
                        (selectedFilter(
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value
                        ).type == 'date' ||
                          selectedFilter(
                            FormArrayFilters.controls[i].get(
                              'FormControlFilterBy'
                            ).value
                          ).type == 'number')
                      )
                    ">
                    <div class="col-xs">
                      <mat-form-field class="width-inputs" appearance="fill">
                        <mat-label>Desde: </mat-label>
                        <input [type]="
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).type == 'number'
                              ? 'number'
                              : 'date'
                          " matInput formControlName="FormControlFilterFrom" [required]="
                            selectedFilter(
                              FormArrayFilters.controls[i]!.get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            (selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).type == 'date' ||
                              selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ).type == 'number')
                          " [disabled]="
                            !(
                              selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ) &&
                              (selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ).type == 'date' ||
                                selectedFilter(
                                  FormArrayFilters.controls[i].get(
                                    'FormControlFilterBy'
                                  ).value
                                ).type == 'number')
                            )
                          " />
                      </mat-form-field>
                      <mat-error *ngIf="
                          FormArrayFilters.controls[i].get(
                            'FormControlFilterFrom'
                          ).touched &&
                          FormArrayFilters.controls[i]
                            .get('FormControlFilterFrom')
                            .hasError('required')
                        ">
                        Campo requerido
                      </mat-error>
                    </div>
                    <div class="col-xs">
                      <mat-form-field class="width-inputs" appearance="fill">
                        <mat-label>Hasta: </mat-label>
                        <input formControlName="FormControlFilterTo" [type]="
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).type == 'number'
                              ? 'number'
                              : 'date'
                          " matInput [required]="
                            selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ) &&
                            (selectedFilter(
                              FormArrayFilters.controls[i].get(
                                'FormControlFilterBy'
                              ).value
                            ).type == 'date' ||
                              selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ).type == 'number')
                          " [disabled]="
                            !(
                              selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ) &&
                              (selectedFilter(
                                FormArrayFilters.controls[i].get(
                                  'FormControlFilterBy'
                                ).value
                              ).type == 'date' ||
                                selectedFilter(
                                  FormArrayFilters.controls[i].get(
                                    'FormControlFilterBy'
                                  ).value
                                ).type == 'number')
                            )
                          " />
                      </mat-form-field>
                      <mat-error *ngIf="
                          FormArrayFilters.controls[i].get('FormControlFilterTo')
                            .touched &&
                          FormArrayFilters.controls[i]
                            .get('FormControlFilterTo')
                            .hasError('required')
                        ">
                        Campo requerido
                      </mat-error>
                    </div>
                  </div>
                </div>
                <!-- Botones -->
                <div class="col-xs-12 col-md-2 bottom-xs">
                  <div class="row">
                    <div class="col-xs">
                      <button *ngIf="FormArrayFilters.controls.length > 1" type="button" mat-icon-button
                        class="light-red" matTooltip="Borrar filtro" aria-label="Borrar filtro"
                        (click)="changeControlsFormArray(0, -1, i)">
                        <mat-icon>clear</mat-icon>
                        <p>Borrar</p>
                      </button>
                    </div>
                    <div class="col-xs">
                      <button *ngIf="
                          FormArrayFilters.controls[i].get('FormControlFilterBy')
                            .value && filtersCount < 9
                        " type="button" mat-icon-button color="primary" matTooltip="Añadir filtro"
                        aria-label="Añadir filtro" (click)="changeControlsFormArray(0, 1)">
                        <mat-icon>add</mat-icon>
                        <p>Añadir</p>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10">
                  <div class="row middle-xs" [class.cdk-visually-hidden]="
                      !(
                        FormArrayFilters.controls.length > 1 &&
                        i < FormArrayFilters.controls.length - 1
                      )
                    ">
                    <div class="col-xs spacer">
                      <hr class="line-separator" style="
                          width: 100%;
                          background-color: #e0e0e0;
                          height: 1px;
                        " />
                    </div>
                    <div class="col-xs-6">
                      <!-- Aumentar filtro con inclusión o disyuncion -->
                      <mat-form-field class="width-inputs" appearance="fill">
                        <mat-label>Como unir los filtros: </mat-label>
                        <select matNativeControl formControlName="FormControlTypeUnionFilter"
                          [required]="i < FormArrayFilters.controls.length - 1">
                          <option selected value="">Seleccione una opción</option>
                          <!-- Opciones desde FilterOptions -->
                          <option value="AND">
                            Y (Los filtros se deben cumplir)
                          </option>
                          <option value="OR">
                            O (Uno de los filtros se debe cumplir)
                          </option>
                        </select>
                      </mat-form-field>
                      <mat-error *ngIf="
                          FormArrayFilters.controls[i].get(
                            'FormControlTypeUnionFilter'
                          ).touched &&
                          (FormArrayFilters.controls[i]
                            .get('FormControlTypeUnionFilter')
                            .hasError('required') ||
                            FormArrayFilters.controls[i].get(
                              'FormControlTypeUnionFilter'
                            ).value === null)
                        ">
                        Seleccione una opción
                      </mat-error>
                    </div>
                    <div class="col-xs">
                      <hr class="line-separator" style="
                          width: 100%;
                          background-color: #e0e0e0;
                          height: 1px;
                        " />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Botones -->
          <div class="col-xs-6 col-md-2 bottom-xs">
            <button type="submit" mat-fab color="primary" aria-label="Filtrar">
              <mat-icon>search</mat-icon>
            </button>
            <button *ngIf="
                FormArrayFilters.controls.length > 0 &&
                FormArrayFilters.controls[0].get('FormControlFilterBy').valid
              " type="reset" mat-icon-button (click)="resetFilter(true)" class="light-red"
              matTooltip="Borrar todos los filtros" aria-label="Borrar todos los filtros">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </form>
      <br />
      <!-- Busqueda rapida por frontend -->
      <mat-form-field appearance="standard" class="width-inputs">
        <mat-label>Busqueda rapida por</mat-label>
        <input matInput appUppercase (keyup)="applyFilterFast($event)" placeholder="Ej. Evento" #input />
      </mat-form-field>

      <div class="row spacer">
        <hr class="blue line-separator" />
      </div>

      <mat-card-content class="table-with-overflow">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortStart="desc"
          style="width: 100%" matTableExporter #exporter="matTableExporter">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element" class="center-xs">
              {{ element.position }}
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>

          <!-- Type nombre -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Tipo
            </th>
            <td mat-cell *matCellDef="let element" >{{ element.type }}</td>
          </ng-container>

          <!-- Description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <!-- Fecha -->
          <ng-container matColumnDef="CreateRegisterDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha del registro
            </th>
            <td mat-cell *matCellDef="let element" class="center-xs">
              {{ element.CreateRegisterDate }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="12">
              <div class="center-align" style="padding: 30px">
                <h3 *ngIf="input.value === ''">No encontramos resultados</h3>
                <h3 *ngIf="input.value !== ''">
                  No encontramos resultado para el filtro "{{ input.value }}"
                </h3>
                <p style="font-size: 10rem; line-height: 5rem; text-align: center;">404</p>
              </div>
            </td>
          </tr>
        </table>
      </mat-card-content>

      <mat-card-footer>
        <div class="row middle-xs" style="padding: 0px 30px">
          <div class="col-xs">
            <button
              mat-stroked-button
              class="font-small" (click)="
                exporter.exportTable('xlsx', { fileName: 'Events' })
              ">
              Descargar como excel
              <mat-icon>file_download</mat-icon>
            </button>
          </div>
          <div class="col-xs">
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 50]" [length]="length"
              itemsPerPageLabel="Elementos por página" (page)="pageEvent = $event">
            </mat-paginator>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
